@using AgariTakuServer.Components
@using Logic.Schema.Types
@inherits DisposableComponentBase

@if (LobbyStatusService.Status is LobbyConnectionStatus status)
{
    <h1>Lobby @(status.LobbyId)</h1>
    <p>@StatusText(status)</p>
    <button class="btn btn-subtle" @onclick="ToggleReady">@ButtonText(status)</button>
    <button class="btn btn-subtle" @onclick="Disconnect">Disconnect</button>
}
